body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.outer-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
}

.form-group {
    display: flex;
    margin-bottom: 20px;
}

input {
    width: calc(25% - 10px); /* Adjusted width of the inputs */
    margin-bottom: 10px;
    padding: 8px; /* Added padding for better appearance */
    margin: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header-image {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 30px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    .form-container {
        width: 90%;
    }

    input {
        width: calc(25% - 5px);
        margin-bottom: 10px;
    }
}
